<template>
	<div id="admin">
		<h1>admin age</h1>

		<div class="posts">
			<ul>
				<li v-for="post in posts" :key="post.id">
					id: {{post.post.id}} | title: {{post.post.title}} | <router-link :to="'/post/'+post.post.id">show</router-link> | <a class="delete-link" @click="delete_post(post.post)">delete post</a>
					<ul>
						<li v-for="comment in post.comments" :key="comment.id">id: {{comment.id}} | author: {{comment.author}} | body: {{comment.body}} | <a @click="delete_comment(post.post.id, comment)" class="delete-link">delete comment</a></li>
					</ul>
				</li>
			</ul>
		</div>

	</div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
	name: 'admin',

	data() {
		return {
			posts: [],
			editing: false,
		}
	},

	created() {
		this.get_axios_posts({full: true})
			.then((resp) => {
				this.posts = resp.data;

			})
			.catch((err) => console.log(err));
	},

	methods: {
		...mapActions({
			get_axios_posts: 'authentication/get_axios_posts',
			delete_axios_post: 'authentication/delete_axios_post',
		}),
		filter_out_el_from_array(array, comm) {
			return array.filter((el) => {
				return el != comm;
			});
		},

		delete_post(post) {
			this.delete_axios_post(post)
				.then((resp) => {})
				.catch((err) => console.log(err));
		},
    delete_comment(post_id, comm) {
      const ids = {
        post_id: post_id,
        comm_id: comm.id,
      };
			console.log(this.posts)
			this.posts.forEach((post) => {
				console.log(post)
			})
      // this.delete_axios_comment(ids)
      //   .then((resp) => {})
      //   .catch((e) => console.log(e));
    },
	},
};
</script>

<style scoped>
.posts {
	text-align:  left;
}
.delete-link {
	 cursor: pointer;
}
</style>