<template>
  <div id="nav">
    <p v-if="get_user_email">email: {{get_user_email}}</p>
    
    <template v-if="get_is_admin" >
      <router-link to="/admin">Admin</router-link>|
    </template>

    <template v-if="!get_logged_state">
      <router-link to="/login">Login</router-link>|
      <router-link to="/register">Register</router-link>|
    </template>

    <router-link to="/">
      <i class="fas fa-cat"></i>Posts
    </router-link>
    |
    <router-link to="/about">
      About
    </router-link>

    <template v-if="get_logged_state">
      |
      <a @click="on_logout()">
        Logout
      </a>
    </template>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'nav-element',

  computed: {
    ...mapGetters({
      get_logged_state: 'authentication/get_logged_state',
      get_user_email: 'authentication/get_user_email',
      get_is_admin: 'authentication/get_is_admin',
    }),    
  },

  methods: {
    on_logout() {
      this.logout()
      if(this.$route.path === '/admin'){
        this.$router.push({path: '/'});
      };
    },
    ...mapActions({
      logout: 'authentication/logout', // we need to do that to access module action
    })
  },
};
</script>

<style scoped lang="less">
#nav {
  padding: 30px;

  a {
    cursor: pointer;
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
