<template>
  <div id="post-form">
    
    <input 
      placeholder="Post Title"
      v-model="post.title" 
      type="text"
    />
    <div class="validation-error" v-if="v$.post.title.$error">{{ v$.post.title.$errors[0].$message }}</div>
    <div
      v-for="error in title_errors"
      :key="error"
      class="validation-errors"
    >
      {{ error }}
    </div>


    <textarea 
      placeholder="Posts Body" 
      class="u-full-width post-body-textarea" 
      v-model="post.body"
    >
    </textarea>
    <div class="validation-error" v-if="v$.post.body.$error">{{ v$.post.body.$errors[0].$message }}</div>
    <div
      v-for="error in body_errors"
      :key="error"
      class="validation-errors"
    >
      {{ error }}
    </div>

    <button class="button" @click="cancel_editing_event()">
      Cancel
    </button>

    <button v-if="type === 'post'" class="button-primary" @click="post_post()">
      Submit Post
    </button>
    <button v-else-if="type === 'patch'" class="button-primary" @click="patch_post()">
      Save Post
    </button>

  </div>
</template>

<script>
import { mapActions } from 'vuex';

import axios from 'axios';
import useValidate from '@vuelidate/core';

import { required, minLength } from '@vuelidate/validators';

export default {
  name: 'post-form',

  props: {
    type_of_form: {
      type: String,
      required: true,
    },
    post_to_edit: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      v$: useValidate(),
      type: this.type_of_form,
      post: this.post_to_edit,
      original_post: JSON.parse(JSON.stringify(this.post_to_edit)), // deep copy

      title_errors: [],
      body_errors: [],
    };
  },

  validations() {
    return {
      post: {
        title: { required, minLength: minLength(2) },
        body: { required, minLength: minLength(10) },
      }
    }
  },

  methods: {
    ...mapActions({
      post_axios_post: 'authentication/post_axios_post',
      patch_axios_post: 'authentication/patch_axios_post',
    }),

    cancel_editing_event() {
      // clearing to original state
      this.post.title = this.original_post.title;
      this.post.body = this.original_post.body;

      this.$emit('cancel_editing');
    },

    post_post() {
      this.v$.$validate();
      
      if (!this.v$.$error) {
        this.post_axios_post(this.post)
          .then((resp) => {
            this.$emit('new_post', resp.data);
            this.cancel_editing_event();
          })
          .catch((err) => this.post_axios_error_handling(err));
      };
    },
    patch_post() {
      this.v$.$validate();

      if (!this.v$.$error) { 
        this.patch_axios_post(this.post)
          .then((resp) => {
            this.$emit('new_post', resp.data);
            this.cancel_editing_event();
          })
          .catch((err) => this.post_axios_error_handling(err));
      };
    },

    post_axios_error_handling(err){
      this.title_errors = [];
      this.body_errors = [];
      if (err.response) {
        // The request was made and the server responded with a status code
        // that falls out of the range of 2xx
        console.log(err.response.data);
        console.log(err.response.status);
        console.log(err.response.headers);
        if(err.response.data.title){
          for(var e in err.response.data.title){
            this.title_errors.push(err.response.data.title[e]);
          }
          console.log(e);
        }

        if(err.response.data.body){
          for(var e in err.response.data.body){
            this.body_errors.push(err.response.data.body[e]);
          }
          console.log(e);
        }

      } else if (err.request) {
        // The request was made but no response was received
        // `err.request` is an instance of XMLHttpRequest in the browser and an instance of
        // http.ClientRequest in node.js
        console.log(err.request);
      } else {
        // Something happened in setting up the request that triggered an err
        console.log('Error', err.message);
      }
      console.log(err.config);
    }
  },

};
</script>

<style lang="less" scoped>
.validation-error {
  color:  red;
}
.post-body-textarea {
  resize: vertical;
  min-height: 400px;
}
</style>
