<template>
  <div id="comment-form" class="form">

    <Form @submit="on_submit" v-slot="{ meta, errors }" :validation-schema="schema">
      <label for="author">Comment Author</label>
      
      <Field
        name="author" type="text" disabled="disabled"
        v-model="get_user_email"
      />
      <br />
      <span v-if="errors.author">⛔️ {{ errors.author }}</span>

      <label for="body">Comment Body</label>
      <Field
        name="body" type="text"
        placeholder="body" v-model="comment.body"
      />
      <br />
      <span v-if="errors.body">⛔️ {{ errors.body }}</span>

      <br />
      <span v-if="meta.valid && meta.touched">✅ Form is valid</span>
      <br />

      <button class="button" @click="cancel_editing_event()">Cancel</button>

      <button class="button-primary">Submit Comment</button>
    </Form>
  </div>
</template>

<script>
import { Field, Form, ErrorMessage } from 'vee-validate';
import * as yup from 'yup';

import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'comment-form',

  components: {
    Field, Form, ErrorMessage,
  },

  props: {
    type_of_form: {
      type: String,
      required: true,
    },
    comment_to_edit: {
      type: Object,
      required: true,
    },
    post_id: {
      required: true,
    }
  },

  data() {
    return {
      type: this.type_of_form,
      comment: this.comment_to_edit,
      original_comment: JSON.parse(JSON.stringify(this.comment_to_edit)),

      // author_errors: [],
      // body_errors: [],
    }
  },

  computed: {
    ...mapGetters({
      get_user_email: 'authentication/get_user_email',
    }),
    schema() {
      return yup.object({
        author: yup.string().required().min(3),
        body: yup.string().required().min(3),
      })
    }
  },

  methods: {
    ...mapActions({
      post_axios_comment: 'authentication/post_axios_comment',
      patch_axios_comment: 'authentication/patch_axios_comment',
    }),
    cancel_editing_event() {
      // clearing to original state
      this.comment.author = this.original_comment.author;
      this.comment.body = this.original_comment.body;

      this.$emit('cancel_editing');
    },

    on_submit(comment) {
      this.comment = JSON.parse(JSON.stringify(comment));

      if(this.type_of_form == 'post') {
        this.post_comment();
      } else if(this.type_of_form == 'patch') {
        this.patch_comment();
      }
    },

    post_comment() {
      const payload = { 
        author: this.get_user_email, 
        body: this.comment.body, 
        post_id: this.post_id,
      };
      console.log(payload)
      this.post_axios_comment(payload)
        .then((resp) => {
          this.$emit('new_comment', resp.data);
          this.cancel_editing_event();
        })
        .catch((e) => console.log(e));
    },
    patch_comment() {
      const payload = {
        id: this.original_comment.id, 
        author: this.get_user_email, 
        body: this.comment.body, 
        post_id: this.post_id,
      }; 
      this.patch_axios_comment(payload)
        .then((resp) => {
          this.$emit('new_comment', resp.data);
        })
        .catch((e) => console.log(e));
    },
  //   comment_axios_error_handling(err){
  //     this.author_errors = [];
  //     this.body_errors = [];
  //     if (err.response) {
  //       // The request was made and the server responded with a status code
  //       // that falls out of the range of 2xx
  //       console.log(err.response.data);
  //       console.log(err.response.status);
  //       console.log(err.response.headers);

  //       if(err.response.data.author){
  //         for(var e in err.response.data.author){
  //           this.author_errors.push(err.response.data.author[e])
  //         }
  //         console.log(e);
  //       }

  //       if(err.response.data.body){
  //         for(var e in err.response.data.body){
  //           this.body_errors.push(err.response.data.body[e])
  //         }
  //         console.log(e);
  //       }

  //     } else if (err.request) {
  //       // The request was made but no response was received
  //       // `err.request` is an instance of XMLHttpRequest in the browser and an instance of
  //       // http.ClientRequest in node.js
  //       console.log(err.request);
  //     } else {
  //       // Something happened in setting up the request that triggered an err
  //       console.log('Error', err.message);
  //     }
  //     console.log(err.config);
  //   }
  },
};
</script>

<style scoped>
.validation-errors{
  color:  red;
  font-weight: bold;
}
</style>