<template>
  <div id="comment">
    <template v-if="editing_state">

      <comment-form 
        v-bind:post_id="post_id"
        v-bind:type_of_form="'patch'"
        v-bind:comment_to_edit="comment"
        @cancel_editing="switch_editing_mode()"
        @new_comment="patch_comment($event)"
      >
      </comment-form>

    </template>
    <template v-else>

      <h4> {{ comment.author }} </h4>
      <p> {{ comment.body }} </p>
      <template v-if="get_is_admin || is_owner">
        <button @click="switch_editing_mode()">Edit</button>
        <button @click="delete_comment">Delete</button>
      </template>
      <hr class="comment-divider">
    </template>
  </div>
</template>

<script>
import CommentForm from './CommentForm.vue';
import { mapGetters } from 'vuex';

export default {
  name: 'comment',

  components: {
    CommentForm,
  },

  props: {
    comment: {},
    post_id: {
      required: true,
    }
  },
  
  data() {
    return {
      editing_state: false,
      api: 'http://localhost:3000/api/v1/',
    }
  },

  computed: {
    ...mapGetters({
      get_is_admin: 'authentication/get_is_admin',
      get_user_email: 'authentication/get_user_email'
    }),
    is_owner() {
      if(this.comment.author === this.get_user_email) {
        return true;
      };
      return false;
    },
  },
  
  methods: {
    switch_editing_mode() { 
      this.editing_state = !this.editing_state; 
    },
    delete_comment() {
      this.$emit('delete_comment', this.comment);
    },
    patch_comment(comment) {
      this.switch_editing_mode()
      this.$emit('patch_comment', comment);
    }
  },
}
</script>

<style scoped>
.comment-divider {
  width: 30%;
}
</style>