<template>
  <div id="comments">
    <template v-if="get_logged_state">
      <button 
        @click="switch_editing_mode()" 
        :class="{button_editing_mode: editing}">
        New Comment
      </button>

      <comment-form 
        v-if="editing"
        v-bind:post_id="post_id"
        v-bind:type_of_form="'post'"
        v-bind:comment_to_edit="{author:'',body:''}"
        @cancel_editing="switch_editing_mode()"
        @new_comment="add_comment($event)"
      >
      </comment-form>
      <hr />
      
    </template>

    <div class="comments-list">
      <comment
        v-for="comment in getted_comments" 
        v-bind:key="comment.id"

        class="comment"
        
        v-bind:post_id="post_id" 
        v-bind:comment="comment"
        @delete_comment="delete_comment($event)"
        @patch_comment="patch_edited_comment($event)"
        >
      </comment>
    </div>
  </div>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';

import Comment from './Comment.vue';
import CommentForm from './CommentForm.vue';

export default {
  name: 'comments',
  components: {
    Comment,
    CommentForm,
  },

  props: ['post_id'],
  data() {
    return {
      getted_comments: [],

      editing: false,
    };
  },

  computed: {
    ...mapGetters({
      get_logged_state: 'authentication/get_logged_state',
    }),
  },

  created() {
    this.get_comments();
    // reversing 
    this.getted_comments.reverse();
  },
  methods: {
    ...mapActions({
      get_axios_comments: 'authentication/get_axios_comments',
      delete_axios_comment: 'authentication/delete_axios_comment',
    }),

    add_comment(comment) { this.getted_comments.unshift(comment); },
    switch_editing_mode() { this.editing = !this.editing; },

    filter_out_el_from_array(array, comment) {
      return array.filter(function(el){
        console.log(el);
        return el != comment;
      });
    },
    patch_edited_comment(comment){
      this.getted_comments.map(c => {
        if(c['id'] === comment.id){
          return comment;
        };
      });
    },
    
    get_comments() {
      this.get_axios_comments(this.post_id)
        .then((resp) => {
          this.getted_comments = resp.data;
        })
        .catch((e) => console.log(e));
    },
    delete_comment(comm) {
      const ids = {
        post_id: this.post_id,
        comm_id: comm.id,
      };
      this.delete_axios_comment(ids)
        .then((resp) => {
          this.getted_comments = this.filter_out_el_from_array(this.getted_comments, comm)
        })
        .catch((e) => console.log(e));
    },

  },
};
</script>

<style scoped>
.button_editing_mode {
  color: white;
  background-color: lightcoral;
}
</style>
