<template>
  <div id="about">
    <h1>Netkodo Blog Project</h1>
    <p class="about-body">
      Blog project created as part of learning process of Ruby on Rails, Vuejs 3 and more.
    </p>

    <h2>Technologies Used</h2>
    <p class="about-list">
      <ul class="one-third column"></ul>
      <ul class="one-third column about-list">
        <li>Ruby on Rails 6
          <ul>
            <li>Devise</li>
            <li>Devise-jwt</li>
          </ul>
        </li>
        <li>Vuejs 3
          <ul>
            <li>Vue Router 4</li>
            <li>Vee-Validate 4</li>
            <li>Vuex 4</li>
          </ul>
        </li>
        <li>Skeleton</li>
        <li>Docker
          <ul>
            <li>Docker-compose</li>
          </ul>
        </li>

      </ul>
      <ul class="one-third column"></ul>
    </p>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  name: 'about',
  mounted(){
    this.check_exist();
  },
  methods: {
    ...mapActions({
      check_exist: 'authentication/check_exist', // we need to do that to access module action
    })
  },
};
</script>

<style scoped>
.about-body {
  text-align: center;
  white-space: pre-wrap; 
}
.about-list {
  text-align: left;
  max-width: 300px;
}
</style>
