<template>
  <div id="posts">
    <h1>Posts</h1>
    <template v-if="get_is_admin">
      <button 
        @click="switch_editing_mode()" 
        :class="{button_editing_mode:hidden}"
        >
        New post
      </button>
      
      <post-form 
        v-if="hidden"
        @cancel_editing="switch_editing_mode()"
        @new_post="add_post($event)"
        v-bind:post_to_edit="{title:'', body:''}"
        v-bind:type_of_form="'post'"
        >
      </post-form>
    </template>

    <div class="posts" v-for="post in posts" v-bind:key="post.id">
      <h2> {{post.title}} </h2>
      <p> {{post.created_at}} </p>
      <router-link class="button" :to="'/post/'+post.id"> Show </router-link>
      <button v-if="get_is_admin" @click="delete_post(post)">Delete</button>
    </div>
  </div>
</template>

<script>
import PostForm from '@/components/PostForm.vue';
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'posts',

  components: {
    PostForm,
  },

  data() {
    return {
      hidden: false,
      posts: {},
    };
  },

  computed: {
    ...mapGetters({
      get_logged_state: 'authentication/get_logged_state',
      get_is_admin: 'authentication/get_is_admin',
    }),
  },

  created() {
    this.get_axios_posts({})
      .then((resp) => {
        this.posts = resp.data;
      })
      .catch((err) => console.log(err));
  },

  // mounted() {
  //   this.check_exist();
  // },

  methods: {
    ...mapActions({
      check_exist: 'authentication/check_exist', // we need to do that to access module action
      get_axios_posts: 'authentication/get_axios_posts',
      delete_axios_post: 'authentication/delete_axios_post',
    }),
    add_post(post) { this.posts.unshift(post); },
    switch_editing_mode() { this.hidden = !this.hidden; },
    filter_out_el_from_array(array, comm) {
      return array.filter((el) => {
        return el != comm;
      });
    },
    delete_post(post) {
      this.delete_axios_post(post)
        .then((resp) => {
          this.posts = this.filter_out_el_from_array(this.posts, post)
        })
        .catch((err) => console.log(err));
    }
  },
};
</script>

<style lang="less" scoped>
.button_editing_mode {
  color: white;
  background-color: lightcoral;
}
</style>
