<template>
  <div class="post">
    <div class="row">
      <span class="title-subtext"> 
        Created: {{ post.created_at }}
      </span>
      <span class="title-subtext">
       | Updated: {{ post.updated_at }}
      </span>
      <span class="title-subtext">
       | Words: {{ body_word_count }}
      </span>
      <span class="title-subtext">
       | Chars: {{ body_char_count }}
      </span>
    </div>



    <template v-if="editing">
      <post-form 
        @cancel_editing="switch_editing_mode()"
        @new_post="patched_post($event)"
        v-bind:post_to_edit="post"
        v-bind:type_of_form="'patch'"
        >
      </post-form>
    </template>
    <template v-else>
      <h1 class="post-title"> {{ post.title }}  </h1>
      <p class="post-body"> {{ post.body }} </p>
      <router-link class="button" to="/">back</router-link>
      <button v-if="get_is_admin" @click="switch_editing_mode()">Edit</button>
    </template>


    <hr />
    <h3> Comment section </h3>
    <hr />
    <comments :post_id="post_id"></comments>

  </div>
</template>

<script language="js">
import { mapGetters, mapActions } from 'vuex';
import PostForm from '@/components/PostForm.vue';
import Comments from '@/components/comments/Comments.vue';

export default {
  name: 'post',
  components: {
    Comments,
    PostForm,
  },
  data() {
    return {
      post: {},
      post_id: 0,
      editing: false,
      body_char_count: 0,
      body_word_count: 0,
    };
  },

  computed: {
    ...mapGetters({
      get_is_admin: 'authentication/get_is_admin',
    })
  },

  created() {
    this.post_id = this.$route.params.id
    this.get_post();
  },

  methods: {
    ...mapActions({
      get_axios_post: 'authentication/get_axios_post'
    }),

    switch_editing_mode() { this.editing = !this.editing },
    
    patched_post(post) {
      this.post = post;
      // calculating word & character count
      this.body_word_count = post.body.split(' ').length;
      this.body_char_count = post.body.split('').length;
    },
    
    get_post() {
      this.get_axios_post(this.post_id)
        .then((resp) => {
          this.post = resp.data;

          // calculating word & character count
          this.body_word_count = resp.data.body.split(' ').length;
          this.body_char_count = resp.data.body.split('').length;
        })
        .catch((resp) => console.log(resp));
    },
  },
};
</script>

<style lang="less" scoped>
.post-body {
  text-align: left;
  white-space: pre-wrap; 
  // For line break \n: white-space: pre-line;
  // For line break \n and tabs \t: white-space: pre-wrap;
  // https://stackoverflow.com/questions/39325414/line-break-in-html-with-n
}

.title-subtext {
  color: grey;
}
</style>
