<template>
  <div id="login" class="container">

    <Form @submit="on_login" v-slot="{ meta, errors }" :validation-schema="schema">
      <h1>Login</h1>

      <label for="email">Email</label>
      <Field 
        name="email" type="email"
        label="email" placeholder="email" 
        />
      <br />
      <span v-if="errors.email">⛔️ {{ errors.email }}</span>

      <br />

      <label for="password">Password</label>
      <Field 
        name="password" type="password" 
        label="password" placeholder="password" 
        />
      <br />
      <span v-if="errors.password">⛔️ {{ errors.password }}</span>

      <br />
      <span v-if="meta.valid && meta.touched">✅ Form is valid</span>
      <br />

      <button type="submit">Login</button>
      <button type="reset">Reset</button>
    </Form>

  </div>
</template>

<script>
import { Field, Form, ErrorMessage } from 'vee-validate';
import * as yup from 'yup';

import { mapActions } from 'vuex';

export default {
  name: 'login',
  
  components: {
    Field, Form, ErrorMessage,
  },

  data: () => ({
  }),
  
  computed: {
    schema() {
      return yup.object({
        email: yup.string().required().email().min(3),
        password: yup.string().required().min(8),
      });
    },
  },
  
  mounted() {
    this.check_exist()
      .then((r) => {
        if(r) {
          this.$router.push('/');
        }
      });
  },

  methods: {
    on_login(user) {
      console.log(user);
      console.log(JSON.stringify(user));
      this.login(user);
    },
    ...mapActions({
      login: 'authentication/login', // we need to do that to access module action
      check_exist: 'authentication/check_exist',
    })
  }
};
</script>

<style scoped>
.validation-error-message {
  color: red;
}
</style>
