<template>
  <div id="register" class="container">
  
    <Form @submit="on_signup" v-slot="{ meta, errors }" :validation-schema="schema">
      <h1>Registration</h1>

      <label for="email">Email</label>
      <Field 
        name="email" type="email" 
        placeholder="email" label="email"
        />
      <br />
      <span v-if="errors.email">⛔️ {{ errors.email }}</span>

      <br />

      <label for="password">Password</label>
      <Field 
        name="password" type="password"
        placeholder="password" label="password"
        ref="password"
        />
      <br />
      <span v-if="errors.password">⛔️ {{ errors.password }}</span>
      <br />
      
      <label for="confirmation">Password confirmation</label>
      <Field 
        name="confirmation" type="password"
        placeholder="password confirmation" label="password confirmation"
        rules="confirmed:@password" 
        />
      <br />
      <span v-if="errors.confirmation">⛔️ {{ errors.confirmation }}</span>

      <br />
      <span v-if="meta.valid && meta.touched">✅ Form is valid</span>
      <br />

      <button type="submit">Sign Up</button>
      <button type="reset">Reset</button>

    </Form>

  </div>
</template>

<script>
import { Field, Form, ErrorMessage } from 'vee-validate';
import * as yup from 'yup';

import { mapActions } from 'vuex';

export default {
  name: 'register',

  components: {
    Form, Field, ErrorMessage,
  },

  data: () => ({
    min_pass_length: 8,
  }),

  mounted() {
    this.check_exist()
      .then((r) => {
        if(r) {
          this.$router.push('/');
        }
      });
  },

  computed: {
    schema() {
      return yup.object({
        email: yup.string().required().email().min(3).label('Your Email'),
        password: yup.string().required().min(this.min_pass_length).label('Your Password'),
        confirmation: yup.string().required().min(this.min_pass_length)
                              .oneOf([yup.ref('password'), null], 'Password must match')
                              .label('Your Password')
      });
    },
  },

  methods: {
    on_signup(user) {
      console.log(user)
      this.register(user);
    },

    ...mapActions({
      register: 'authentication/register',
      check_exist: 'authentication/check_exist',
    }),
  }
};
</script>

<style scoped>
.validation-error-message {
  color: red;
}
</style>