<template>
  <div id="app" class="container">
    <nav-element></nav-element>
    <router-view />
  </div>
</template>

<script>
import NavElement from './components/NavElement.vue';
import { mapActions } from 'vuex';

export default {
  name: 'app',

  components: {
    NavElement,
  },

  // checking if user exist and reassigning states
  mounted() {
    this.check_exist();
  },
  methods: {
    ...mapActions({
      check_exist: 'authentication/check_exist',
    }),
  },
};
</script>

<style lang="less">
@import (css) "./assets/css/normalize.css";
@import (css) "./assets/css/skeleton.css";

#app {
  font-family: 'Neris', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  a {
    text-decoration: none;
    &:hover {
      color: green;
    }
  }
}
</style>
